@import "tailwindcss";


@font-face {
  font-family: 'AmarDesh';
  src: url('../public/fronts/SolaimanLipi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
  animation-play-state: running;
  /* ensure it's running by default */
}

.animate-marquee:hover {
  animation-play-state: paused;
}


:root {
  font-family: 'AmarDesh', sans-serif;
  --bg-color: #fff;
  --text-color: #111111;
  --primary-color: #B20808;
  --primary-text-color: #303030;
  --hover-bg:#f4f4f4;
}

[data-theme="dark"] {
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --primary-text-color: #ffffff;
   --hover-bg:#2b2b2b;

}

.dark-bg-color {
  background-color: #171b1d;

}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}




/* Styling the scrollbar */
.category-scrollbar::-webkit-scrollbar {
  width: 6px;
}

/* Styling the scrollbar track */
.category-scrollbar::-webkit-scrollbar-track {
  padding: 5px;
  border-radius: 10px;
}

/* Styling the scrollbar thumb */
.category-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  /* Set the color of the thumb */
  border-radius: 10px;
}

/* Hover effect for the thumb */
.category-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Darker color when hovering */
}